---
import Layout from '../layouts/Layout.astro';
import Menulogo from '../assets/menu.svg';
import Sidebar1 from '../assets/layout-sidebar-left-expand.svg';
import Sidebar2 from '../assets/layout-sidebar-right-expand.svg';
import PNGbackground from '../assets/background-PNG.webp';
import { Section } from '../components/Section.tsx';
import { SectionList } from '../components/SectionList.tsx';
import BlockDiv from '../components/BlockDiv.astro';
import SidebarSvg from '../components/SidebarSvg.astro'
---


<Layout>
  <container class="w-full h-screen flex items-center justify-center relative top-0 left-0 z-50 bg-[#1e1e1e] overflow-hidden">
  <img src=`${PNGbackground.src}` class="user-none h-screen w-full absolute bg-contain object-cover opacity-7 top-0 left-0" alt="Background Image" />
  <!-- <img src=`${background.src}` class="h-screen w-full absolute bg-contain object-cover opacity-60 top-0 left-0" alt="Background Image" /> -->
	<div class="fixed w-11/12 overflow-hidden h-5/6 bg-[#1e1e1e] rounded-md shadow-md ">
		<header class="-w-full h-2/18 border-b-4 flex items-center relative shadow px-6 space-between" style="border-color: rgba(0,0,0,0.1)">
			<SidebarSvg />
			<span class="titulo text-white scale-220 tracking-wide left-1/2 -translate-x-1/2 relative"
			>DASHBOARD</span>
		</header>
		<section
			class="grid h-16/18"
			style={{
			'gridTemplateColumns' : 'auto 1fr',
			'gridTemplateRows' : '1oopx'
				
			}}
		>
		<aside 
			id={"asideBar"}
		 	class="w-60  border-r-4 grid relative text-center h-full -left-full xl:left-0 "
		 	style={{
			'borderColor' : 'rgba(0,0,0,0.1)',
			'gridTemplateRows' : '1fr auto'
            }}
		>
			<div class="flex flex-col gap-1 justify-evenly ">
				<SectionList client:load title='Home'/>
				<SectionList client:load title='Orders' />
				<SectionList client:load title='Plans' />
				<SectionList client:load title='Favorites' />
				<SectionList client:load title='History' />
				<SectionList client:load title='Support / Help' />
			</div>
			<div id="canvasBox" class="h-60 w-full py-0.5 mt-1 -px-1 bottom-0 relative w-1/5 h-4/12 bg-black flex items-center">
			<BlockDiv/>
			</div>
		</aside>

		<Section client:only />

		</section>

	</div>
  </container>




</Layout>



<style>

	@import "tailwindcss";

@media screen and (max-height : 816px){
	#canvasBox{
		display: none;
	}
}

#asd{
	background: red;
}

.titulo{
	font-family: "Pixelify Sans", sans-serif;
	filter: drop-shadow(0px 0px 2.4px rgba(255, 255, 255, 0.2))
}

	@keyframes easeBox{
		0%{
			opacity: 0%;
		}
		100%{
			opacity: 100%;
		}
	}

	@keyframes easeMario{
		0%{
			opacity: 0%;
		}
		100%{
			opacity: 100%;
		}
	}

	@keyframes easeMessage{
		0%{
			opacity: 0%;
		}
		100%{
			opacity: 100%;
		}
	}

	@keyframes easeInput{
		0%{
			opacity: 0%;
		}
		100%{
			opacity: 100%;
		}
	}

</style>