---
const { title, id } = Astro.props
---
<span
	class="py-4 hover:py-5 bg-[#00000f]/30 backdrop-blur-xl text-lg text-white hover:cursor-pointer hover:bg-[#00000f]/10 transition-all delay-200"
	style=`font-family: "Pixelify Sans", sans-serif`
	id={id}
	>{title}
</span>