---
---

	<div class="boxSvg absolute p-3 ">
        <div  class="divSvg">
			<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
				id={"SidebarSVG"}
				class="top-0 left-0 absolute scale-132 text-white hover:cursor-pointer hover:scale-136 transition-all duration-250 icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar-left-expand"
				style="filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.534))"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M9 4v16" /><path d="M14 10l2 2l-2 2"/></svg>
        </div>
        <div class="divSvg" hidden>
			<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"
				id={"SidebarSVG"}
				class="top-0 left-0 absolute scale-132 color-white text-white hover:cursor-pointer hover:scale-136 transition-all duration-250 icon icon-tabler icons-tabler-outline icon-tabler-layout-sidebar-right-expand"			
				style="filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.534))"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M15 4v16" /><path d="M10 10l-2 2l2 2"/></svg>
		</div>
	</div>




<script>
	
	const svgs = document.getElementsByClassName("boxSvg");

	Array.from(svgs).forEach((el) => {
		el.addEventListener("click", () => {
			el.firstElementChild?.toggleAttribute("hidden")
			el.lastElementChild?.toggleAttribute("hidden")
		});
	});
	
</script>
